.hide {
  display: flex;
  background-color: #3d3d3b;
  height: 690px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 30px;
}

h2 {
  text-align: center;
}

.Links {
  color: inherit;
  text-decoration: inherit;
}

.imgbox {
  height: 690px;
  width: 460px;
  object-fit: cover;
  border-radius: 10px;
}

.MovieInfo {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.MovieDiv {
  height: 100%;
  padding: 20px;
  align-items: center;
}
